@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"),
   url('~@/assets/fonts/DMSans-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "DM Sans italic";
  src: local("DM Sans italic"),
   url('~@/assets/fonts/dmsans-regularitalic.ttf') format("truetype");
}

@font-face {
  font-family: "Marguerite Grotesk";
  src: local("Marguerite Grotesk"),
   url('~@/assets/fonts/margueritegrotesk-regular.otf') format("opentype");
}

@mixin body {
  font-size: 16px;
  line-height: 29px;
  font-family: 'DM Sans';

  @include mq($from: tablet) {
    font-size: 24px;
    line-height: 35px;
  }
}
