$colors: (
  red: #FF5068,
  yellow: #FFD400,
  pink: #FF59BD,
  white: #FFFFFF,
  black: #000000,
  beige: #FAF4EF,
  grey: #ECEDEC,
  green: #3DB96D,
  purple: #B8BCFE,
  light-yellow: #FFF7E0,
  light-pink: #FFEDF9,
  light-green: #CFE7CD,
  light-purple: #EBEBFE
);

$breakpoints: (
  mobile: '375px',
  tablet: '736px',
  laptop: '1024px',
  desktop: '1800px',
);
